.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #a8a8a8;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0800ff;
  --inverted-secondary-color: #0856ff;
}

www