.app.dark {
  --bg-color: #247B7B;
  --inverted-bg-color: #a8a8a8;
  --primary-color: #78CDD7;
  --secondary-color: #FFFFFA;
  --inverted-primary-color: #0D5C63;
  --inverted-secondary-color: #44A1A0;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #78CDD7;
}
